/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    margin: 0;
  }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.font-size875{
  font-size: .875rem;
}

.paypal-image{
  background-image: url("https://i.forbesimg.com/media/lists/companies/paypal_416x416.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
    width: 50px;
}
